.navbar navbar-expand-lg navbar-light bg-light{
    width: 100%;
}
.navbar-brand img{
    width: 5rem;
    padding-bottom: 0.2rem;
}

.navbar-toggler{
    border-color: #FFFFFF80 !important;
}

.row{
    padding-left: 5%;
    padding-right: 5%;
}
.card-text{
    padding-left: 0%;
}
   
.list-group-item{
    opacity: 80%;
    font-size: small;
    padding-top: 0% !important;
    padding-bottom: 0% !important;
}

.list-group list-group-flush{
    display: flex; justify-content: left;
    gap: 20%;
}

.card-body1{
    display: flex;
    justify-content: end;
    align-items: center;
}

.card-body1 p{
    margin: 3%;
}

.card-text1{
    font-size: medium;
    opacity: 80%;
}
.card-text2{
    font-size: large;
    color:#198754;
}

form{
    background-color: #198754;
    color: #FFFFFF;
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.mb-3{
    width: 100%;
}

.container1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}