#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgb(244, 242, 216);

  }
body {
  margin: 10px;
  padding: 10px;
  overflow: scroll;
  height: 80px;
 /* Asegura que el cuerpo ocupe al menos el 100% de la altura de la ventana gráfica */
 /* Asegura que el footer se posicione correctamente */

}
.customNav{
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 2rem;
  background-color: rgb(74, 152, 71);
  height: 70px;
}

.footer {
  position: fixed; /* Cambia a 'absolute' si prefieres que el footer se desplace con el contenido */
  bottom: 0;
  width: 100%;
  background-color: rgb(74, 152, 71);
  color: white;
  text-align: center;
  padding: 5px 0;
  height: 60px;
}
.linkers{
  display: flex;
  flex-wrap: nowrap;
  gap: 3rem;

}
.linkers > a > div:hover {
color: #0f471f;
}
/* En footer.css */
.logo-container img {
  width: 100px; /* Ajusta el tamaño del logo según sea necesario */
  height: auto; /* Para mantener la proporción de aspecto */
}
.navBarImg{
  max-width: 100%;
  height: 50px;
  
}
.redes-sociales a {
  color: #f5e8e8;
  font-size: 20px; /* Ajusta el tamaño de los iconos según sea necesario */
  margin-right: 10px; /* Añade un margen derecho entre los iconos para separarlos */
}

p{
  margin: 0;
}
.product-image {
  width: 90vh;
  height: 70vh;
}
.redes-sociales a {
  color: #f5e8e8;
  font-size: 20px; /* Ajusta el tamaño de los iconos según sea necesario */
  margin-right: 10px; /* Añade un margen derecho entre los iconos para separarlos */
}
